<div class="row">
  <div class="col-md-offset-1">
    <ng-container
      *ngIf="
        !(loadingCategories$ | async) && !(loadingMovies$ | async);
        else loader
      "
    >
      <app-form-movie
        [optionsCategories]="optionsCategories$ | async"
        [movie]="movie$ | async"
        (addMovie)="onUpdateMovie($event)"
        [loadingAddMovie]="loadingUpdateMovie$ | async"
        [action]="'update movie'"
      ></app-form-movie>
    </ng-container>
  </div>
</div>
<div class="row">
  <ng-template #loader>
    <div class="col-md-2 col-centered">
      <mat-spinner color="primary" diameter="80"> </mat-spinner>
    </div>
  </ng-template>
</div>
