<div class="col-md-4 frame">
  <mat-card>
    <mat-card-header>
      <div
        mat-card-avatar
        class="example-header-image"
        [ngStyle]="{ 'background-image': 'url(' + movie.image + ')' }"
      ></div>

      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.recordedYear }}</mat-card-subtitle>
      <mat-card-subtitle> {{ movie.language }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <span>Special mention:</span>
      <p>
        {{
          movie.specialMention.firstName + " - " + movie.specialMention.lastName
        }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        *ngIf="parent != 'collection'"
        mat-raised-button
        (click)="updateMovie.emit(movie.id)"
        color="primary"
      >
        Update
      </button>
      <button
        *ngIf="parent != 'collection'"
        mat-raised-button
        (click)="delete(movie.id)"
        color="accent"
      >
        Delete
      </button>
      <button
        mat-raised-button
        (click)="detailsMovie.emit(movie.id)"
        color="primary"
      >
        details
      </button>
    </mat-card-actions>
  </mat-card>
</div>
