.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0 2px 1px -1px rgb(63, 81, 181), 0 1px 1px 0 rgb(63, 81, 181),
    0 1px 3px 0 rgb(63, 81, 181);
}
.example-header-image {
  background-size: cover;
}

.frame {
  height: 250px;
}
