<!-- Navigation -->
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
      <a routerLink="/">Home<mat-icon>home</mat-icon></a>
    </li>
    <li>
      <a routerLink="/movies"
        >Categories movies<mat-icon>local_movies</mat-icon></a
      >
    </li>
    <li>
      <a routerLink="/movies/addMovie"
        >Add movie<mat-icon>movie_creation</mat-icon></a
      >
    </li>
  </ul>
</div>
<!-- /.navbar-collapse -->
