<mat-drawer-container>
  <mat-drawer
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="!mobileQuery.matches"
    [ngClass]="{ 'sidenav-collapsed': collapsedNav && !mobileQuery.matches }"
  >
    <div class="sidenav-header">
      <span>{{
        collapsedNav && !mobileQuery.matches ? "S" : "Slideshow"
      }}</span>
    </div>
    <ul>
      <li>
        <a routerLink="/">Home<mat-icon>home</mat-icon></a>
      </li>
      <li>
        <a routerLink="/carrousel"
          >Slides by profile<mat-icon>slideshow</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="/carrousel/add-slide"
          >Add slide<mat-icon>add_to_queue</mat-icon></a
        >
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content
    [ngClass]="{ 'sidenav-collapsed': collapsedNav && !mobileQuery.matches }"
  >
    <mat-toolbar>
      <button
        mat-icon-button
        (click)="
          mobileQuery.matches ? snav.toggle() : (collapsedNav = !collapsedNav)
        "
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
