<div class="row">
  <div class="col-md-2">
    <ng-container *ngIf="!(isLoadingProfiles$ | async); else loaderProfiles">
      <app-select
        [profiles]="profiles$ | async"
        [profileSelected]="profileSelected$ | async"
        (selectedSlidesByProfile)="onSelectedSlidesByProfile($event.value)"
      ></app-select>
    </ng-container>
  </div>
</div>
<div class="row" *ngIf="slides$ | async as slides">
  <ng-container *ngIf="!(isLoadingSlides$ | async); else loaderSlides">
    <app-slide-drag-and-drop
      [slides]="slides"
      [profileSelected]="profileSelected$ | async"
      [profiles]="profiles$ | async"
      (updateProfileAfterDragandDropSlides)="
        onUpdateProfileAfterDragandDropSlides($event)
      "
    ></app-slide-drag-and-drop>
    <div *ngIf="!(profileSelected$ | async).id">
      <div class="alert">Choose Profile please !</div>
    </div>
    <div class="alert-text" *ngIf="slides?.length > 1">
      Click <i class="material-icons" cdkDragHandle>reorder</i>
      for drag your Slide.
    </div>
  </ng-container>
</div>
<div class="row">
  <ng-template #loaderProfiles>
    <div class="col-md-2">
      <mat-spinner color="primary" diameter="50"> </mat-spinner>
    </div>
  </ng-template>
</div>
<div class="row">
  <ng-template #loaderSlides>
    <div class="col-md-2">
      <mat-spinner color="primary" diameter="70"> </mat-spinner>
    </div>
  </ng-template>
</div>
