<div class="row">
  <div class="col-md-2 col-centered">
    <app-search
      [searchName]="'search category'"
      [searchValue]="searchValue$ | async"
      (search)="search($event)"
    ></app-search>
  </div>
</div>
<div class="row" *ngIf="categories$ | async as categories">
  <ng-container
    *ngIf="
      !(loadingCategories$ | async) && !(loadingMovies$ | async);
      else loader
    "
  >
    <app-category-preview
      (goToMovies)="onGoToMovies($event)"
      *ngFor="let category of categories | titleCategoriesFilter: searchValue"
      [category]="category"
    ></app-category-preview>
  </ng-container>
</div>
<div class="row">
  <ng-template #loader>
    <div class="col-md-2 col-centered">
      <mat-spinner color="primary" diameter="80"> </mat-spinner>
    </div>
  </ng-template>
</div>
